<a href="/">Aloitussivu </a> | <a href="/newreview">Merkkaa kirja luetuksi</a> | <a href="/newbook">Lisää yleinen kirja</a> |  <a href="/allbooks">Selaa kirjoja</a> | <a href="/newfavorite">Suosikit</a> | <a href="/newfuture">Lukulista</a><hr>
<hr>
<p>
Kirjojen määrä: {{ count }}
<hr>
{% for book in books %}
<i>ID:</i> {{ book[0] }}
<p>
<i>Otsikko:</i> {{ book[1] }}
<p>
<i>Kirjailija:</i> {{ book[2] }}
<p>
<i>Julkaisupäivä:</i> {{ book[3] }}
<p>
<i>Genre:</i> {{ book[4] }}
<p>
<i>Kirjan lisääjä:</i> {{ book[5] }}
<p>
    <form action="/deletebook" method="post">
        <input type="hidden" name="book_id" value="{{ book[0] }}">
        <input type="submit" value="Poista">
    </form>
    <form action="/addfavorite" method="post">
        <input type="hidden" name="book_id" value="{{ book[0] }}">
        <input type="submit" value="Merkkaa suosikiksi">
    </form>
    <form action="/addfuture" method="post">
        <input type="hidden" name="book_id" value="{{ book[0] }}">
        <input type="submit" value="Lisää lukulistalle">   
    </form>
<hr>
{% endfor %}
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}