<a href="/">Aloitussivu </a> | <a href="/newreview">Merkkaa kirja luetuksi</a> | <a href="/newbook">Lisää yleinen kirja</a> | <a href="/favorites">Suosikit</a> | <a href="/allbooks">Selaa kirjoja</a> | <a href="/future">Lukulista</a>
<hr>
<hr>
<p>
Kirjojen määrä: {{ count }}
<hr>
{% for book in books %}
<i>Otsikko:</i> {{ book[0] }}
<p>
<i>Kirjailija:</i> {{ book[1] }}
<p>
<i>Julkaisupäivä:</i> {{ book[2] }}
<p>
<i>Genre:</i> {{ book[3] }}
<p>
<i>Kirjan lisääjä:</i> {{ book[4] }}
<p>
<hr>
{% endfor %}
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}