<a href="/">Aloitussivu</a> | <a href="/newbook">Lisää yleinen kirja</a> | <a href="/allbooks">Selaa kirjoja</a> | <a href="/newfavorite">Suosikit</a> | <a href="/newfuture">Lukulista</a>
<hr>
<hr>

{% if session.user_id %}
Suosikkeja: {{ count }}
<hr>
{% if count > 0 %}
{% for favorite in favorites %}
<i>Otsikko:</i> {{ favorite[2] }}
<p>
<i>Kirjailija:</i> {{ favorite[3] }}
<p>
<i>Julkaisupäivä:</i> {{ favorite[4] }}
<p>
<i>Genre:</i> {{ favorite[5] }}
<p>
<i>Käyttäjä:</i> {{ favorite[6] }}
<p>
<form action="/deletefavorite" method="post">
    <input type="hidden" name="id" value="{{ favorite[1] }}">
    <input type="submit" value="Poista">

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>
{% endfor %}
{% endif %}

Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään lisätäksesi suosikkeja</a>
{% endif %}
